<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="http://localhost:8080/mail-test-join" method="post">
        <input name="email" placeholder="email"> <br>
        <input name="name" placeholder="name"> <br>
        <input name="password" placeholder="password"> <br>
        <input name="phoneNumber" placeholder="phoneNumber"> <br>
        <input name="roadAddress" placeholder="roadAddress"> <br>
        <input name="detailAddress" placeholder="detailAddress"> <br>
        <input name="authorities" placeholder="authorities"> <br>

        </textarea>
        <button>send</button>
    </form>

    <form action="http://localhost:8080/verify-code" method="post">
        <input placeholder="code" name="code">
    </form>

</body>
</html>